<div style="display: flex; flex-direction: column; gap: 20px">
	<div class="planungen-card">
		<div class="planungen-card-header">
			<span style="font-size: 30px">Änderungen am Plan vornehmen</span>
		</div>
		<div class="planungen-second-card-subtitles">
			<p class="planungen-subtitle">Übergeben an: Brigade</p>
			<p class="planungen-subtitle">Ausgeführt von: Division</p>
			<p class="planungen-subtitle">12.01.2024, 11:00</p>
		</div>
		<div class="planungen-second-card-list">
			<p class="planungen-card-list-item">
				<img src="/assets/icons/list-bullet.svg" alt="" /> Haltelinie 2
				angepasst
			</p>
		</div>
	</div>
	<div class="planungen-card">
		<div class="planungen-card-header">
			<span style="font-size: 30px">Sperrvorschlag hinzugefügt</span>
		</div>
		<div class="planungen-second-card-subtitles">
			<p class="planungen-subtitle">Übergeben an: Brigade</p>
			<p class="planungen-subtitle">Ausgeführt von: Division</p>
			<p class="planungen-subtitle">12.01.2024, 11:00</p>
		</div>
		<div class="planungen-second-card-list">
			<p class="planungen-card-list-item">
				<img src="/assets/icons/list-bullet.svg" alt="" /> Sperrvorschlag
			</p>
			<p class="planungen-card-list-item">
				<img src="/assets/icons/list-bullet.svg" alt="" />2 Wurfminensperren
			</p>
		</div>
	</div>
</div>
