<section class="planungen-component-content">
	<div>
		<div class="planungen-header">
			<span class="planungen-title">SPERRPLANUNG 1234</span>
		</div>
		<div class="planungen-header">
			<p>
				<span class="planungen-title" style="font-size: 25px; color: #04213066"
					>Alle Planungen -
				</span>
				<span class="planungen-title" style="font-size: 25px"
					>Sperrplanung 1234</span
				>
			</p>
			<button
				class="btn-default"
				style="display: flex; align-items: center; gap: 6px"
			>
				Exportieren
				<img
					src="assets/icons/download.svg"
					alt="right-arrow"
					style="width: 18px; height: 18px"
				/>
			</button>
		</div>
	</div>

	<div class="planungen-tabs">
		<span class="planungen-tabs-item active" data-tab="ubersicht"
			>Übersicht</span
		>
		<span class="planungen-tabs-item" data-tab="changelog">Changelog</span>
		<span class="planungen-tabs-item" data-tab="sperrobjekte"
			>Sperrobjekte</span
		>
	</div>

	<div id="planungen-tab-content"></div>
</section>
