<div class="planungen-ubersicht-grid">
	<div class="ubersicht-top-left">
		<div style="padding: 16px; border: 2px solid var(--color-primary)">
			<p class="ubersicht-title">Geplante Minen</p>
			<p class="ubersicht-subtitle">3 Wurfminensperren</p>
			<p class="ubersicht-subtitle">2 Verlegeminensperren</p>
			<p class="ubersicht-subtitle">1 Richtminensperre</p>
		</div>
		<div style="padding: 16px; border: 2px solid var(--color-primary)">
			<p class="ubersicht-title">Munitionsbedarf</p>
			<p class="ubersicht-subtitle">40 Minenmagazine DM12</p>
			<p class="ubersicht-subtitle">600 DM31</p>
			<p class="ubersicht-subtitle">4 Parm 1 Dm22</p>
		</div>
		<div style="padding: 16px; border: 2px solid var(--color-primary)">
			<p class="ubersicht-title">Geplante Länge</p>
			<p class="ubersicht-subtitle">3 950 meter</p>
		</div>
		<div style="padding: 16px; border: 2px solid var(--color-primary)">
			<p class="ubersicht-title">Geplante Verlegedauer</p>
			<p class="ubersicht-subtitle">3 1h 37min</p>
		</div>
	</div>

	<img src="assets/map.png" alt="ubersicht map" class="ubersicht-map" />
	<div class="ubersicht-bottom-left">
		<div style="display: flex; justify-content: space-between">
			<p class="ubersicht-title">Planung bewerten</p>
			<button class="btn-secondary">Speichern</button>
		</div>
		<div style="display: flex">
			<div class="star-rating">
				<span class="star"></span>
				<span class="star"></span>
				<span class="star"></span>
				<span class="star"></span>
				<span class="star"></span>
			</div>
		</div>

		<p style="font-size: 25px; font-family: Bebas Neue, sans-serif">
			KOMMENTAR
		</p>
		<textarea name="" id="" class="ubersicht-textarea"></textarea>
	</div>

	<div class="ubersicht-bottom-right">
		<p class="ubersicht-title">Geplante Minen</p>
		<div style="display: flex; flex-direction: column; gap: 16px">
			<div>
				<p style="font-size: 25px; font-family: Bebas Neue, sans-serif">
					Maj Tester
				</p>
				<div>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">☆</span>
					<span style="font-size: 24px; color: #1c1b1f">☆</span>
				</div>
				<p style="font-family: PT Sans, sans-serif; font-size: 20px">
					Lorem Ipsum at vero eos et accusam et justo duo dolores et ea rebum.
				</p>
			</div>

			<div>
				<p style="font-size: 25px; font-family: Bebas Neue, sans-serif">
					Maj Tester
				</p>
				<div>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">☆</span>
					<span style="font-size: 24px; color: #1c1b1f">☆</span>
				</div>
				<p style="font-family: PT Sans, sans-serif; font-size: 20px">
					Lorem Ipsum at vero eos et accusam et justo duo dolores et ea rebum.
				</p>
			</div>
		</div>
	</div>
</div>
