<section>
	<h1
		style="
			background-color: var(--color-primary);
			color: white;
			max-width: 700px;
			padding: 2rem;
		"
	>
		Styleguide
	</h1>

	<br /><br />
	<h2 style="margin-top: 2rem">Colors</h2>
	<div
		id="color-palette"
		style="display: flex; gap: 2rem; flex-wrap: wrap"
	></div>

	<br /><br />
	<h2>Buttons</h2>
	<button class="btn-default">Lorem Ipsum</button>
	<button class="btn-primary">Lorem Ipsum</button>
	<button class="btn-secondary">Lorem Ipsum</button>

	<h2 style="margin-top: 2rem">Inputs</h2>
	<input type="text" placeholder="Default input" />
	<br /><br />

	<h2 style="margin-top: 2rem">Select</h2>
	<select>
		<option>Select option</option>
		<option>Option 1</option>
		<option>Option 2</option>
	</select>
	<br /><br />
	<br /><br />

	<div class="tab-group">
		<div class="tab-item active">
			Lorem Ipsum<span class="tab-count">20</span>
		</div>
		<div class="tab-item">Lorem Ipsum<span class="tab-count">1</span></div>
	</div>

	<br /><br />
	<h2 style="margin-top: 2rem">Typography</h2>
	<div>
		<h1>&gt; Heading 1 - H1</h1>
		<h2>&gt; Heading 2 - H2</h2>
		<h3>&gt; Heading 3 - H3</h3>
		<h4>&gt; Heading 4 - H4</h4>
		<h5>&gt; Heading 5 - H5</h5>
		<h6>&gt; Heading 6 - H6</h6>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste
			quisquam accusantium ea laboriosam modi labore neque, deserunt quaerat
			sequi nostrum qui architecto adipisci in praesentium magnam saepe dolor,
			voluptatem eum corrupti alias! Aperiam, labore esse quos provident
			incidunt voluptatum, necessitatibus nesciunt eos debitis illum, qui
			possimus natus facilis saepe!
		</p>
		<a href="#">Hyperlink</a>
	</div>
	<br /><br />
	<br /><br />
	<br /><br />
</section>
