<div id="karte-layout">
	<div class="karte-btn top-left">
		<div
			style="
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 14px;
				border: 2px solid #fff;
				padding: 8px;
				cursor: pointer;
			"
		>
			<span class="karte-item-text">Sperrplanung 1234</span>
			<img src="/assets/icons/copy.svg" alt="stack icon" class="" />
		</div>
		<span class="karte-item-text">Sperrplanung 1234</span>
		<span class="karte-item-text">Sperrplanung 1234</span>
		<img
			src="/assets/icons/add-circle.svg"
			alt="stack icon"
			style="cursor: pointer"
		/>
	</div>

	<div class="karte-btn top-right">
		<img src="/assets/icons/add.svg" alt="add icon" class="karte-item" />
		<img src="/assets/icons/stacks.svg" alt="stack icon" class="karte-item" />
	</div>

	<div class="karte-footer">
		<img
			class="karte-footer-icon"
			id="karte-left"
			src="assets/icons/karte-left.svg"
			alt="Previous"
		/>
		<span class="karte-footer-text" id="karte-label">Taktische Karte</span>
		<img
			class="karte-footer-icon"
			id="karte-right"
			src="assets/icons/karte-right.svg"
			alt="Next"
		/>
	</div>
</div>
