<section class="planungen-content">
	<div class="planungen-header">
		<span class="planungen-title">PLANUNGEN</span>
		<button class="btn-default">+ Planung erstellen</button>
	</div>

	<div class="planungen-card-container">
		<div class="planungen-card">
			<div class="planungen-card-header">
				<span style="font-size: 30px">SPERRPLANUNG 1234</span>
				<div>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">☆</span>
					<span style="font-size: 24px; color: #1c1b1f">☆</span>
				</div>
			</div>
			<p class="planungen-subtitle">4 Sperrvorschläge erstellt</p>
			<div>
				<p class="planungen-card-list-item">
					<img src="/assets/icons/list-bullet.svg" alt="" /> Erstellt von Maj
					Tester
				</p>
				<p class="planungen-card-list-item">
					<img src="/assets/icons/list-bullet.svg" alt="" />Aktueller Status:
					Planungsphase
				</p>
			</div>
			<button
				class="btn-secondary planung-open-btn"
				style="width: fit-content"
				data-path="components/planungen/planungen-component.html"
			>
				Öffnen >
			</button>
		</div>
		<div class="planungen-card">
			<div class="planungen-card-header">
				<span style="font-size: 30px">SPERRPLANUNG 1234</span>
				<div>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">☆</span>
					<span style="font-size: 24px; color: #1c1b1f">☆</span>
				</div>
			</div>
			<p class="planungen-subtitle">4 Sperrvorschläge erstellt</p>
			<div>
				<p class="planungen-card-list-item">
					<img src="/assets/icons/list-bullet.svg" alt="" /> Erstellt von Maj
					Tester
				</p>
				<p class="planungen-card-list-item">
					<img src="/assets/icons/list-bullet.svg" alt="" />Aktueller Status:
					Planungsphase
				</p>
			</div>
			<button
				class="btn-secondary planung-open-btn"
				style="width: fit-content"
				data-path="components/planungen/planungen-component.html"
			>
				Öffnen >
			</button>
		</div>
		<div class="planungen-card">
			<div class="planungen-card-header">
				<span style="font-size: 30px">SPERRPLANUNG 1234</span>
				<div>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">☆</span>
					<span style="font-size: 24px; color: #1c1b1f">☆</span>
				</div>
			</div>
			<p class="planungen-subtitle">4 Sperrvorschläge erstellt</p>
			<div>
				<p class="planungen-card-list-item">
					<img src="/assets/icons/list-bullet.svg" alt="" /> Erstellt von Maj
					Tester
				</p>
				<p class="planungen-card-list-item">
					<img src="/assets/icons/list-bullet.svg" alt="" />Aktueller Status:
					Planungsphase
				</p>
			</div>
			<button
				class="btn-secondary planung-open-btn"
				style="width: fit-content"
				data-path="components/planungen/planungen-component.html"
			>
				Öffnen >
			</button>
		</div>
		<div class="planungen-card">
			<div class="planungen-card-header">
				<span style="font-size: 30px">SPERRPLANUNG 1234</span>
				<div>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">★</span>
					<span style="font-size: 24px; color: #1c1b1f">☆</span>
					<span style="font-size: 24px; color: #1c1b1f">☆</span>
				</div>
			</div>
			<p class="planungen-subtitle">4 Sperrvorschläge erstellt</p>
			<div>
				<p class="planungen-card-list-item">
					<img src="/assets/icons/list-bullet.svg" alt="" /> Erstellt von Maj
					Tester
				</p>
				<p class="planungen-card-list-item">
					<img src="/assets/icons/list-bullet.svg" alt="" />Aktueller Status:
					Planungsphase
				</p>
			</div>
			<button
				class="btn-secondary planung-open-btn"
				style="width: fit-content"
				data-path="components/planungen/planungen-component.html"
			>
				Öffnen >
			</button>
		</div>
	</div>

	<div class="planungen-header" style="margin-top: 24px">
		<span class="planungen-title">CHAIN OF COMMAND</span>
		<button
			class="btn-default"
			style="display: flex; align-items: center; gap: 6px"
		>
			Planungen übergeben
			<img
				src="assets/icons/right-arrow.svg"
				alt="right-arrow"
				style="width: 18px; height: 18px"
			/>
		</button>
	</div>

	<div class="planungen-card">
		<div class="planungen-card-header">
			<span style="font-size: 30px">Änderungen am Plan vornehmen</span>
		</div>
		<div class="planungen-second-card-subtitles">
			<p class="planungen-subtitle">Übergeben an: Brigade</p>
			<p class="planungen-subtitle">Ausgeführt von: Division</p>
			<p class="planungen-subtitle">12.01.2024, 11:00</p>
		</div>
		<div class="planungen-second-card-list">
			<p class="planungen-card-list-item">
				<img src="/assets/icons/list-bullet.svg" alt="" /> Genehmigung durch
				Führer der Pioniere
			</p>
			<p class="planungen-card-list-item">
				<img src="/assets/icons/list-bullet.svg" alt="" />Sicherung durch
				Kampftruppe aufgestellt
			</p>
		</div>
	</div>
</section>
