<nav class="sidebar">
	<ul>
		<li>
			<img
				src="assets/logo.png"
				alt="Logo"
				style="margin: 16px 0; width: 93px; height: 68px"
			/>
		</li>
		<li class="sidebar-item">
			<span>OPERATION:<br />JÜRGENSBY</span>
		</li>
		<li>
			<a data-sidebar-tab="wiki-content" class="sidebar-item">
				<img src="assets/icons/wiki.svg" alt="Wiki" />
				<span>Wiki</span>
			</a>
		</li>
		<li>
			<a data-sidebar-tab="appauswahl-content" class="sidebar-item">
				<img src="assets/icons/appauswahl.svg" alt="Appauswahl" />
				<span>Appauswahl</span>
			</a>
		</li>
	</ul>
	<ul style="margin-bottom: 16px">
		<li>
			<a data-sidebar-tab="karte-content" class="sidebar-item">
				<img src="assets/icons/sperrobjekte.svg" alt="Karte" />
				<span>Karte</span>
			</a>
		</li>
		<li>
			<a data-sidebar-tab="planungen-content" class="sidebar-item">
				<img src="assets/icons/planungen.svg" alt="Planungen" />
				<span>Planungen</span>
			</a>
		</li>
		<li>
			<a data-sidebar-tab="sperrobjekte-content" class="sidebar-item active">
				<img src="assets/icons/sperrobjekte.svg" alt="Sperrobjekte" />
				<span>Sperrobjekte</span>
			</a>
		</li>
	</ul>
</nav>
