<table class="sperren-obj-table">
	<thead>
		<tr>
			<th style="text-align: center">
				<label class="custom-checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>
				</label>
			</th>
			<th>NAME</th>
			<th>SPERRPLANUNG</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align: center">
				<label class="custom-checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>
				</label>
			</td>
			<td class="table-name">SPERRE 101</td>
			<td>Sperrplanung 1234</td>
			<td>
				<span
					class="status-label"
					style="
						border: 2px solid var(--color-secondary);
						background-color: white;
					"
					>Freigegeben</span
				>
			</td>
			<td style="text-align: center">
				<select class="action-select">
					<option>Details einblenden</option>
					<option>Bearbeiten</option>
					<option>Löschen</option>
				</select>
			</td>
		</tr>
		<tr>
			<td style="text-align: center">
				<label class="custom-checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>
				</label>
			</td>
			<td class="table-name">SPERRE 102</td>
			<td>Sperrplanung 1234</td>
			<td>
				<span
					class="status-label"
					style="
						border: 2px solid var(--color-secondary);
						background-color: white;
					"
					>Freigegeben</span
				>
			</td>
			<td>
				<select class="action-select">
					<option>Details einblenden</option>
					<option>Bearbeiten</option>
					<option>Löschen</option>
				</select>
			</td>
		</tr>
		<tr>
			<td style="text-align: center">
				<label class="custom-checkbox">
					<input type="checkbox" />
					<span class="checkmark"></span>
				</label>
			</td>
			<td class="table-name">SPERRE 103</td>
			<td>Sperrplanung 1234</td>
			<td>
				<span
					class="status-label"
					style="
						border: 2px solid var(--color-secondary);
						background-color: white;
					"
					>Freigegeben</span
				>
			</td>
			<td>
				<select class="action-select">
					<option>Details einblenden</option>
					<option>Bearbeiten</option>
					<option>Löschen</option>
				</select>
			</td>
		</tr>
	</tbody>
</table>
