<table class="sperren-obj-table">
	<thead>
		<tr>
			<th>NAME</th>
			<th>SPERRPLANUNG</th>
			<th>SPERRENTYP</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="table-name">SPERRE 101</td>
			<td>Sperrplanung 1234</td>
			<td>Wurfminensperre</td>
			<td>
				<span class="status-label" style="background-color: #9cadf8"
					>Geplant</span
				>
			</td>
			<td>
				<select class="action-select">
					<option>Details einblenden</option>
					<option>Bearbeiten</option>
					<option>Löschen</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="table-name">SPERRE 102</td>
			<td>Sperrplanung 1234</td>
			<td>Wurfminensperre</td>
			<td>
				<span class="status-label" style="background-color: #9cadf8"
					>Geplant</span
				>
			</td>
			<td>
				<select class="action-select">
					<option>Details einblenden</option>
					<option>Bearbeiten</option>
					<option>Löschen</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="table-name">SPERRE 103</td>
			<td>Sperrplanung 1234</td>
			<td>Wurfminensperre</td>
			<td>
				<span class="status-label" style="background-color: #9cadf8"
					>Geplant</span
				>
			</td>
			<td>
				<select class="action-select">
					<option>Details einblenden</option>
					<option>Bearbeiten</option>
					<option>Löschen</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="table-name">SPERRE 104</td>
			<td>Sperrplanung 1234</td>
			<td>Wurfminensperre</td>
			<td>
				<span class="status-label" style="background-color: #9cadf8"
					>Geplant</span
				>
			</td>
			<td>
				<select class="action-select">
					<option>Details einblenden</option>
					<option>Bearbeiten</option>
					<option>Löschen</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="table-name">SPERRE 105</td>
			<td>Sperrplanung 1234</td>
			<td>Wurfminensperre</td>
			<td>
				<span class="status-label" style="background-color: #9cadf8"
					>Geplant</span
				>
			</td>
			<td>
				<select class="action-select">
					<option>Details einblenden</option>
					<option>Bearbeiten</option>
					<option>Löschen</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="table-name">SPERRE 201</td>
			<td>Sperrplanung 1234</td>
			<td>Wurfminensperre</td>
			<td>
				<span class="status-label" style="background-color: #9cadf8"
					>Geplant</span
				>
			</td>
			<td>
				<select class="action-select">
					<option>Details einblenden</option>
					<option>Bearbeiten</option>
					<option>Löschen</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="table-name">SPERRE 202</td>
			<td>Sperrplanung 1234</td>
			<td>Wurfminensperre</td>
			<td>
				<span class="status-label" style="background-color: #9cadf8"
					>Geplant</span
				>
			</td>
			<td>
				<select class="action-select">
					<option>Details einblenden</option>
					<option>Bearbeiten</option>
					<option>Löschen</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="table-name">SPERRE 203</td>
			<td>Sperrplanung 1234</td>
			<td>Wurfminensperre</td>
			<td>
				<span class="status-label" style="background-color: #9cadf8"
					>Geplant</span
				>
			</td>
			<td>
				<select class="action-select">
					<option>Details einblenden</option>
					<option>Bearbeiten</option>
					<option>Löschen</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="table-name">SPERRE 204</td>
			<td>Sperrplanung 1234</td>
			<td>Wurfminensperre</td>
			<td>
				<span class="status-label" style="background-color: #9cadf8"
					>Geplant</span
				>
			</td>
			<td>
				<select class="action-select">
					<option>Details einblenden</option>
					<option>Bearbeiten</option>
					<option>Löschen</option>
				</select>
			</td>
		</tr>
	</tbody>
</table>
